@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* { 
    padding: 0; margin: 0; box-sizing: border-box; 
    font-family: 'Roboto', sans-serif, FontAwesome;
}

span { cursor: default; }

.cards-container, .qr-options, #qr-code, .read-qr { display: flex; align-items: center; justify-content: center; }
.cards-container {
    min-height: 100vh; width: 100vw; flex-wrap: wrap; gap: 75px; 
    padding: 1em; text-align: center;
    background-color: #1B1B1E;

    /* Card Global Styles */
    .cards {      
        width: 400px; height: 528.5px; 
        padding: 1em; border-radius: 10px; //margin-inline: 30px;
        background-color: #D8DBE2; box-shadow: 0px 0px 5px 5px rgba(88,164,176,0.7);      
        #title-info {
            font-size: 14px; font-weight: bold; text-transform: uppercase;
            img { width: 20px; margin: 0 0 5px 5px; }
        }        
        #qr-code, .read-qr { /* Generator - Reader Global Style */
            width: 100%; height: 300px;
            padding: 0.5rem; margin-top: 10px; border-radius: 5px 5px 0 0;  
            background-color: #A9BCD0; border: 2px solid #373F51;
            span { 
                font-size: 14px; letter-spacing: 1px;
                color: #1B1B1E; opacity: .5;
            }
        }

        /* QR Generator */
        #qr-code {
            flex-wrap: wrap; align-content: center;
            img, canvas { max-width: 100% !important; max-height: 100% !important; }
            img { 
                cursor: help; padding: 0.5rem; 
                border-radius: 5px; border: 1px solid #373F51; 
            }
            .span-text { position: absolute; }
        }        

        .card-body { 
            padding: 0.5rem; border-radius: 0 0 5px 5px;
            background-color: #373F51;

            .qr-url-text {
                margin: 10px 0;
                border: 0;
                .input-group {
                    height: 40px;
                    input { 
                        font-size: 14px; 
                        &::placeholder { opacity: .5; }
                    }
                }
            }   
            .input-group-text {
                background-color: #A9BCD0; border: 0;
                cursor: help;
            }
            /* QR Generator Options */
            .qr-options {
                gap: 5px;
                .input-group { 
                    height: 40px;
                    border: 0; border-radius: var(--bs-border-radius); 
                    input[type=color], select { 
                        border-top-right-radius: var(--bs-border-radius); border-bottom-right-radius: var(--bs-border-radius);
                        cursor: pointer; transition: .25s;
                        &:hover { opacity: .85; }
                    }
                    select {
                        width: 100%;
                        font-size: 12px; text-align: center; 
                        background-color: white; border: 0; appearance: none; 
                    }
                    input[type=color] {
                        width: 100%; height: 100%;
                        border: 0; 
                    }
                }               
            }   

            .btn-group {
                width: 100%; gap: 5px;
                margin-top: 10px;
                .btn {
                    border: 1px solid #A9BCD0;
                    font-size: 15px;
                }
                #btn-download.disabled { opacity: .5; }     
            }   
        }               
    }

    .scanner {
        #uploaded-qr-text {
            cursor: copy; 
             &::selection { background-color: #373F51; color: #FFF; }
        } 
        .read-qr {   
            height: 69%;
            cursor: pointer; transition: 0.25s;
            &:hover {
                box-shadow: inset 0px 0px 10px 5px rgba(0,0,0,0.5);
            }
            img {
                max-width: 100%; max-height: 100%; display: none;      
                background-color: white; padding: 0.5rem;
                border-radius: 5px; border: 1px solid #373F51;          
            }       
            .uploaded-qr {
                i { 
                    width: 100%; 
                    font-size: 14px;
                    margin-bottom: 5px; opacity: .5;
                }
            }     
        }
    } 
    .cards.active {
        .uploaded-qr { display: none; }
        .read-qr {
            img { display: block; }
        }
    }
}